/*     主体部分     */
.market {
  margin: 30px auto 80px auto;
}
.market-name {
  width: 100%;
  height: 63px;
  line-height: 63px;
  margin-bottom: 10px;
  font-size: 24px;
  letter-spacing: 1.3px;
}
.market-name .invest-area {
  text-align: center;
  width: 100%;
  background: #F5564B;
  color: #fff;
}
.fjs-intro {
  display: block;
  margin-bottom: 20px;
}
.invest-title {
  text-align: right;
  color: #747474;
  padding-bottom: 20px;
  border-bottom: 2px solid #000;
}
