/*     login主体的私有内容   */
.member-content .mcl-title {
  text-align: right;
  font-size: 14px;
  margin: 40px 50px 20px 0;
}
.member-content .mcl-title a {
  color: #127cad !important;
}
.member-content .login-left {
  float: left;
  margin: 0 75px;
}
.member-content .login-right {
  float: right;
  width: 460px;
  padding: 80px 0 70px 40px;
  margin-right: 50px;
  border: 1px solid #d2d2d2;
  font-size: 0;
}
.member-content .login-right .form-group {
  margin-bottom: 25px;
  line-height: 40px;
  position: relative;
}
.member-content .login-right .form-group .control-label {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  width: 80px;
  text-align: right;
  margin-right: 5px;
  color: #333;
  white-space: nowrap;
  overflow: hidden;
}
.member-content .login-right .form-group .input-group {
  display: inline-block;
  position: relative;
}
.member-content .login-right .form-group .input-group .form-control {
  display: inline-block;
  vertical-align: middle;
  width: 242px;
  height: 40px;
  padding: 10px;
  padding-left: 40px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #ddd;
  outline: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.member-content .login-right .form-group .input-group .form-control:focus {
  border: 1px solid #8dccee;
  -webkit-box-shadow: 0 0 5px #8dccee;
  -moz-box-shadow: 0 0 5px #8dccee;
  box-shadow: 0 0 5px #8dccee;
}
.member-content .login-right .form-group .input-group i {
  position: absolute;
  background: url(../images/icon_1.png) no-repeat;
}
.member-content .login-right .form-group .input-group i.user {
  top: 11.5px;
  left: 11px;
  width: 18px;
  height: 17px;
  background-position: 0 -840px;
}
.member-content .login-right .form-group .input-group i.key {
  width: 12px;
  height: 15px;
  background-position: 0 -870px;
  top: 12.5px;
  left: 14px;
}
.member-content .login-right .form-group .tip {
  display: none;
  position: absolute;
  top: 6px;
  left: 340px;
  z-index: 10;
  font-size: 12px;
  height: 28px;
  line-height: 18px;
  padding: 5px;
  padding-left: 30px;
  white-space: nowrap;
  max-width: 150px;
  overflow: hidden;
  border: 1px solid #ff5c4c;
  color: #ff5c4c;
  background: url(../images/icon_1.png) no-repeat 5px -893.5px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.member-content .login-right .forget-upwd {
  display: block;
  text-align: right;
  font-size: 14px;
  margin-bottom: 15px;
  padding-right: 91px;
  color: #127cad !important;
  cursor: pointer;
}
.member-content .login-right #login-info {
  font-size: 12px;
  color: #f30;
  margin-bottom: 20px;
  display: none;
}
.member-content .login-right .login-btn {
  display: block;
  width: 285px;
  height: 48px;
  margin-left: 42px;
  margin-bottom: 20px;
  background: #fa4c3b;
  border: 0;
  font-size: 18px;
  font-family: 'microsoft yahei';
  color: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.member-content .login-right .weibo-enter {
  font-size: 14px;
  text-align: right;
  padding: 0 10px;
  margin-bottom: 30px;
}
.member-content .login-right .weibo-enter i {
  display: inline-block;
  vertical-align: middle;
  width: 19px;
  height: 15px;
  margin-top: -3px;
  background: url(../images/icon_1.png) no-repeat 0 -960px;
}
.member-content .login-right .weibo-enter a {
  color: #f30;
}
.member-content .login-right .weibo-enter a:hover {
  text-decoration: none;
}
.member-content .login-right .mfb-info {
  color: #666;
  font-size: 14px;
  line-height: 20px;
  margin-right: 20px;
}
